        <script type="text/template" id="field_template">
{% include templates/field._ %}
        </script>
        
        <script type="text/template" id="index_template">
{% include templates/index._ %}
        </script>
        
        <script type="text/template" id="dataset_template">
{% include templates/dataset._ %}
        </script>
        
        <script type="text/template" id="text_template">
{% include templates/fields/text._ %}
        </script>
        
        <script type="text/template" id="url_template">
{% include templates/fields/url._ %}
        </script>
        
        <script type="text/template" id="boolean_template">
{% include templates/fields/boolean._ %}
        </script>
        
        <script type="text/template" id="array_template">
{% include templates/fields/array._ %}
        </script>

        <script type="text/template" id="export_template">
{% include templates/export._ %}
        </script>

        <script type="text/template" id="import_template">
{% include templates/import._ %}
        </script>
        
        <script type="text/template" id="upload_template">
{% include templates/upload._ %}
        </script>
        
        <script type="text/template" id="html_template">
{% include templates/html._ %}
        </script>     

        <script type="text/template" id="xml_template">
{% include templates/xml._ %}
        </script>     
          
        <script type="text/template" id="expanded_option">
          
        </script>
        
        <script type="text/template" id="schema">
{% include schema.yml %}
        </script>