#drop_zone { width: 50%; border: 1px dashed blue; height: 50px; text-align: center; vertical-align: center; background: #eee; font-weight: bold; padding-top: 25px; }
#drop_zone.hover { background: #ddd; border: 1px solid #000; }
.copy_zone { width: 100%; height: 100px; }
body{padding-top:60px;padding-bottom:40px}
.dataset { margin-top: 25px; padding-top: 25px; border-top: 1px solid #ccc;}